@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
:root {
    --card-width: 300px;
    --card-height: 500px;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, p,
b, u, i, h1, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



html {
    height: 100%;
    font-size: 16px;
}

body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    background-color: #0B0B12;
    color: white;
    
    padding-left: 1rem;
    padding-right: 1rem;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    position: relative;
}

header {
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 3rem;
    gap: 0.75rem
}

main {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
}

footer {
    height: 3rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 1rem;
}

button {
    padding: 0;
    border: none;
    background-color: inherit;
}

.header-icon {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #161626;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem
}

.header-date {
    font-size: 1.5rem;
    font-weight: 600;
}

.header-user-icon {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #2F80ED;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.header-small {
    height: 2rem;
}

.header-small-icons {
    fill: #FFFFFF;
}

.footer-small {
    height: 2.5rem;
}

.footer-small-icons {
    fill: #42424D;
}

.footer-huge {
    height: 4.5rem;
}

.footer-huge-icons {
    fill: #2F80ED;
}
